.astro-3yyafb3n{
    margin: 0%;
}

.astro-7nkwcw3z{
    padding-block: 0rem !important;
    padding-top: 16px !important;
}
.astro-jbfsktt5{
    padding-block: 0rem !important;
    img{
        width: 80%;
        height: 100%;
    }
}


