.astro-3yyafb3n{
    margin: 0;
}

.astro-7nkwcw3z{
    padding-block: 0rem !important;
}

.sl-markdown-content{
    margin: 0 !important;
}

.astro-bguv2lll{
    padding: 0 !important;
}
.astro-jbfsktt5{
    padding-block: 0rem !important;
    // img{
    //     width: 90%;
    //     height: 90%;
    // }
}


