
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Custom gradient scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: linear-gradient(180deg, #3b82f6 0%, #ec4899 100%);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #ec4899;
}